<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<meta charset="UTF-8">
	<title>Hello World</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>
<body>
	<h1 class="text-primary">Hello</h1>
	<a class="new-product btn btn-lg btn-primary"href="{% url 'productos.views.NewProduct'%}">Nuevo Producto</a>
	<ul>
		{% for pr in product %}
		<section>
			<articule class="articuleItemContainer">
				<li>
					<a class="product-info label label-default" href="{% url 'productos.views.ProductDetail' pk=pr.pk %}">
						{{ pr.category }}
					</a>
					{{ pr.name }}
					<img src="{{ pr.image.url }}" alt=""></img>
				</li>
				<p>{{ pr.text }}</p>
			</articule>
		</section>
		{% endfor %}
	</ul>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>